* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

.header {
  background-color: transparent;
  transition: all 0.4s ease 0s;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
}
.header .container .row .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container .row .navbar .navbar-left .navbar-logo a {
  font-size: 26px;
  text-decoration: none;
  font-family: "Volkhov", serif;
  color: #fb811e;
  position: relative;
}
.header .container .row .navbar .navbar-left .navbar-logo a i {
  position: absolute;
  top: -4px;
  left: 38px;
  font-size: 14px;
}
.header .container .row .navbar .navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container .row .navbar .navbar-right .navbar-search {
  margin: 0 10px;
}
.header .container .row .navbar .navbar-right .navbar-search input {
  outline: none;
  border: none;
  background: #fff url(../../img/search.png) no-repeat 7px center;
  border: solid 1px #eee;
  padding: 0 10px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  transition: all 0.5s;
  cursor: pointer;
}
.header .container .row .navbar .navbar-right .navbar-theme .toggle-theme-icon:hover {
  color: #fb811e;
  cursor: pointer;
}
.header .container .row .navbar .navbar-right .navbar-link a {
  text-decoration: none;
  padding: 0 14px;
  text-transform: uppercase;
  color: #707070;
  font-weight: 600;
}
.header .container .row .navbar .navbar-right .navbar-link a:hover {
  color: #fb811e;
  transition: all 0.5s;
}