* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

.header {
  background-color: red;
}
.header .container .row .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}