* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Volkhov", serif;
}

.btn-style {
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 12px 30px;
  font-weight: 600;
  background: #fb811e;
  border: none;
  color: #fff;
  border-radius: 30px;
  transition: all 0.25s ease-in-out;
  font-family: "Source Sans Pro", sans-serif;
}
.btn-style:hover {
  background-color: #009f4d;
  color: #fff;
}

.header {
  background-color: transparent;
  transition: all 0.4s ease 0s;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
  position: fixed;
  width: 100%;
  z-index: 111;
}
.header .container .row .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container .row .navbar .navbar-left .navbar-logo a {
  font-size: 26px;
  text-decoration: none;
  font-family: "Volkhov", serif;
  color: #fb811e;
  position: relative;
}
.header .container .row .navbar .navbar-left .navbar-logo a i {
  position: absolute;
  top: -4px;
  left: 38px;
  font-size: 14px;
}
.header .container .row .navbar .navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container .row .navbar .navbar-right .navbar-search {
  margin: 0 10px;
}
.header .container .row .navbar .navbar-right .navbar-search input {
  outline: none;
  border: none;
  background: #fff url(../../img/search.png) no-repeat 7px center;
  border: solid 1px #eee;
  padding: 0 10px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  transition: all 0.5s;
  cursor: pointer;
}
.header .container .row .navbar .navbar-right .navbar-theme .toggle-theme-icon:hover {
  color: #fb811e;
  cursor: pointer;
}
.header .container .row .navbar .navbar-right .navbar-link a {
  text-decoration: none;
  padding: 0 14px;
  text-transform: uppercase;
  color: #707070;
  font-weight: 600;
}
.header .container .row .navbar .navbar-right .navbar-link a:hover {
  color: #fb811e;
  transition: all 0.5s;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif !important;
}
.banner .container-fluid .row .banner-left {
  position: absolute;
  top: 12px;
  left: 100px;
  z-index: 1;
}
.banner .container-fluid .row .banner-left .banner-left-content h2 {
  color: #f4f4f4;
  font-size: 120px;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
}
.banner .container-fluid .row .banner-left .banner-left-content .banner-left-desc {
  position: relative;
  top: 80px;
  left: 24px;
}
.banner .container-fluid .row .banner-left .banner-left-content .banner-left-desc h3 {
  font-size: 50px;
  line-height: 60px;
  font-weight: bold;
}
.banner .container-fluid .row .banner-left .banner-left-content .banner-left-desc p {
  font-size: 16px;
}
.banner .container-fluid .row .banner-left .banner-left-content .banner-left-desc a {
  margin-top: 40px;
}
.banner .container-fluid .row .banner-right .slider .carousel.slide .carousel-indicators button {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.banner .container-fluid .row .banner-right .slider .carousel.slide .carousel-indicators button.active {
  background-color: #fb811e;
}
.banner .container-fluid .row .banner-right .slider .carousel-inner {
  height: 710px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.feature {
  padding-top: 800px;
  border: 1px solid brown;
}