@import "./base/reset";

@import "./components/button";

@import "./layouts/header";
@import "./layouts/footer";
@import "./layouts/HeaderSCSS";
@import "./layouts/FooterSCSS";

@import "./pages/index";

@import "./utils/variables";
