@import "../base/reset";

@import "../components/button";
@import "../components/label";

@import "../layouts/header";
@import "../layouts/HeaderSCSS";
@import "../layouts/footer";
@import "../layouts/FooterSCSS";

@import "../pages/index";
@import "../pages/about";
@import "../pages/services";
@import "../pages/blog";
@import "../pages/404";
@import "../pages/contact";

@import "../utils/variables";

/* Phones  */
@media screen and (max-width: 575.98px) {
  .footer {
    padding-bottom: 0px;
    background-position: 0px 690px !important;
    .contact__wrapper {
      margin-top: 30px;
    }
  }
  .quality-food-right {
    .quality-food-content {
      h5 {
        font-size: 20px !important;
        margin-top: 20px !important;
      }
      h3 {
        font-size: 32px !important;
      }
      p {
        font-size: 14px !important;
      }
      .col-sm-6.col-md-6.d-flex {
        i {
          font-size: 20px !important;
        }
        h5 {
          font-size: 18px !important;
        }
        p {
        }
      }
    }
  }
  .navbar-left {
    margin: 0 20px;
    color: white !important;
    .navbar-logo {
      a {
        font-size: 16px !important;
      }
    }
  }
  .banner-left {
    .banner-left-content {
      h2 {
        font-size: 100px !important;
        left: 80px;
      }
    }
    .banner-left-desc {
      background-color: white;
      left: 20px;
      top: 0;
      margin-left: 30px;
      padding: 16px 20px;
      width: 76vw;
    }
    .btn.btn-style {
      margin-top: 0 !important;
    }
  }
  .btn.btn-style.mt-4.product-button {
    font-size: 10px !important;
    margin-top: 0 !important;
    padding: 6px 16px;
    margin-bottom: 4px;
  }
  #discover-p {
    font-size: 14px;
    margin-bottom: 6px;
  }
  .gallery-title {
    font-size: 1rem;
  }
  .product-h3 {
    font-size: 16px;
  }
  #carousel-inner {
    img {
      height: 90%;
    }
  }
  .imginfo__box {
    left: -44px !important;
  }
}

/* Tablets  */
@media only screen and (max-width: 991.98px) {
  .container {
    max-width: 1200px;
  }
  .banner {
    bottom: -300px;
    .banner-left {
      width: 70% !important;
      left: -10px !important;
      .banner-left-content {
        width: 70% !important;
        h2 {
          font-size: 50px !important;
        }
        .banner-left-desc {
          h3 {
            font-size: 36px !important;
          }
          p {
            font-size: 14px !important;
            font-family: "Source Sans Pro", sans-serif !important;
            color: $text-color;
          }
        }
      }
    }
    .banner-right {
      .slider {
        height: 300px;
        .carousel-indicators {
          top: 300px;
        }
      }
    }
  }
  .quality-food-right {
    .quality-food-content {
      h5 {
        font-size: 20px !important;
        margin-top: 20px !important;
      }
      h3 {
        font-size: 32px !important;
      }
      p {
        font-size: 14px !important;
      }
      .col-sm-6.col-md-6.d-flex {
        i {
          font-size: 20px !important;
        }
        h5 {
          font-size: 18px !important;
        }
        p {
        }
      }
    }
  }
  .service {
    .container {
      max-width: 1200px;
      .row {
        margin: 0 10px;
        .card-wrapper {
          .card-item {
            padding: 0;
            border: 5px solid red;
            color: red;
            .card-title {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

/* Desktops  */
/* @media only screen and (max-width: 1199.98px) {
  } */
