.header {
  background-color: red;
  .container {
    .row {
      .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .navbar-left {
          .nabar-logo {
          }
        }
        .navbar-right {
          .navbar-search {
          }
          .navbar-theme {
          }
          .navbar-link {
          }
        }
      }
    }
  }
}
